<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="SqlSampleMapper">
    <select id="selectSample" parameterType="String" resultType="FreeBoard">
         select * 
          from freeboard
         where name = #{input} 
    </select>
     
</mapper>